#cert-pop {
    display: none;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
}

#cert-pop-card {
    background: #fff;
    max-width: 50%;
    padding: 2%;
    opacity: 0;
    transition-duration: .7s;
    margin-top: 70px;
}

#cert-pop button {
    background: transparent;
    border: none;
    cursor: pointer;
}

#cert-pop button#cert-form-yes {
    background: #009bff;
    border-radius: 5px;
    color: #fff;
}

#cert-form-yes:disabled {
    opacity: .3;
}

#cert-pop ol {
    margin-left: 0;
    padding-left: 20px;
}

.no-opac {
    opacity: 0;
}

.wp-block-query ul {
    margin-left: 0;
}

.wp-block-query ul li {
    background-color: var(--gannett-light-grey);
    padding: 1%;
}

.wp-block-query ul li a {
    color: #404040;
    text-decoration: none;
}

.wp-block-query .wp-block-post-date {
    display: none;
}

@media screen and (max-width: 500px) {
    #cert-pop-card {
        max-width: 100vw;
        height: 100vh;
        padding-top: 100px;
    }

    #cert-pop-card p {
        width: 90%;
        margin: auto;
    }

   #form {
       height: 550px;
   }
}